.leftDiv {
    float:left;
    width: 50%;
}

.rightDiv {
    float:left;
    width: 50%;
}

.clear {
    clear: both
}

.inline {
    display: inline-block;
    margin-right: 15px;
}

.align {
    text-align: center;
}

.resize-nav {
    height: 76px !important;
}

.container-fluid {
    padding: 0px !important;
}

.navbar {
    border-radius: 0px !important;
}

.top {
    margin-top : 11px !important;
    font-size: 20px !important;
}

@font-face {
    font-family: co-HeadLine;
    src: url('../../src/Co Headline W01 Regular.ttf');
}

body {
    font-family: co-HeadLine;
}

.resize {
    font-size: 24px !important;
}

.format {
    font-size: 21px;
}

.form-control {
    display: inline-block;
    width: 55%;
}

.content-head {
        margin-top : 11px !important;
        font-size: 26px !important;
}